<%= form_for(pet) do |f| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <%= f.text_field :breed_id, class: 'form-control'  %> -->
  <br>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1"><%= f.label :breed_id %></span>
    <%= collection_select(:pet, :breed_id, Breed.all, :id, :name, {}, {class: "form-control"} )%>
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1"><%= f.label :name %></span>
    <%= f.text_field :name, class: 'form-control'  %>
  </div>
  <br>
  <%= f.submit class: 'btn btn-default' %>
<% end %>

