<p id="notice"><%= notice %></p>


<div class="jumbotron vertical-center">
	<div class="container text-center">
		  <h1>Breed name:</h1>
		  <p><%= @pet.breed.name %></p>
		  <h1>Pet name:</h1>
		  <p><%= @pet.name %></p>
	</div>
</div>

<div class="container text-center">
<%= link_to 'Edit', edit_pet_path(@pet), class: 'btn btn-default' %> 
<%= link_to 'Back', pets_path, class: 'btn btn-primary' %>
</div>
